#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

build:
	$(eval PATH := /usr/lib/go-1.24/bin:$(PATH))
	$(eval HOME := $(CURDIR))
	export HOME="$(CURDIR)"
	@echo "HOME = $(HOME)"
	export GOENV='off'
	export GO111MODULE='off'
	export GOTOOLCHAIN="local" 
	export GOFLAGS="-mod=vendor"
	export CGO_ENABLED=0
	go build -o xray -trimpath -buildvcs=false -ldflags="-s -w -buildid=" -v ./main

binary-arch: build

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_dwz:
	@echo 'DH_DWZ overridden'

override_dh_auto_clean:
	@echo 'DH_AUTO_CLEAN overridden'

override_dh_auto_install:
	@echo 'DH_AUTO_INSTALL overridden'

override_dh_installsystemd:
	dh_installsystemd --package=xray-server --name=xray xray.service
	dh_installsystemd --package=xray-server --name=xray@ xray@.service

override_dh_installlogrotate:
	dh_installlogrotate --package=xray-server
