on:
    schedule:
        - cron: '45 15 * * 2,4,6'
    push:
        branches:
            - 'main'
defaults:
    run:
        shell: bash
env:
    UBUNTU_CODENAME: noble
jobs:
    version_analyzer:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        outputs:
            build_goxray_cli: ${{ steps.version_compare.outputs.goxray_cli }}
        steps:
            - name: Extract last version from Debian repository and store it in the GitHub CI environment variable
              run: |
                echo -e "# GoXRay-CLI Debian Package Builder CI Process \n\nBuild started: $(date +"%a, %d %b %Y %H:%M:%S %z")" >> ${GITHUB_STEP_SUMMARY}
                echo -e "Run ID: \`${GITHUB_RUN_NUMBER}\`" >> ${GITHUB_STEP_SUMMARY}
                echo -e "Workflow YML hash: \`${GITHUB_WORKFLOW_SHA}\`" >> ${GITHUB_STEP_SUMMARY}
                echo -e "Trigger: \`${GITHUB_EVENT_NAME}\`" >> ${GITHUB_STEP_SUMMARY}
                echo -e "\n## Version analyzer\n" >> ${GITHUB_STEP_SUMMARY}
                echo 'Extracting version information from https://ppa.launchpadcontent.net/twdragon/xray/ubuntu/dists/noble/main/source/Sources.gz' >> ${GITHUB_STEP_SUMMARY}
                curl https://ppa.launchpadcontent.net/twdragon/xray/ubuntu/dists/noble/main/source/Sources.gz --output Sources.gz
                gzip --decompress Sources.gz
                GOXRAY_CLI_VERSION_REPO=$(grep -A 10 "^Package: goxray-cli" Sources | grep -Po '(?<=^Version: )[0-9]+\.[0-9]+\.[0-9]+')
                echo "GOXRAY_CLI_VERSION_REPO=${GOXRAY_CLI_VERSION_REPO}" >> ${GITHUB_ENV}
                echo -e "\`\`\`\nGOXRAY_CLI_VERSION_REPO=${GOXRAY_CLI_VERSION_REPO}" >> ${GITHUB_STEP_SUMMARY}
            - name: Clone GoXray-CLI
              uses: actions/checkout@v4
              with:
                submodules: 'true'
                fetch-depth: 0
                repository: 'goxray/tun'
                path: 'goxray-cli'
            - name: Clone Debian maintaner scripts repository
              uses: actions/checkout@v4
              with:
                path: 'debian-scripts'
            - name: Extract last tagged version from Github repository and store it in the GitHub CI environment variable
              run: |
                echo -e "\nExtracting and analyzing annotated tags from Git repositories." >> ${GITHUB_STEP_SUMMARY}
                cd goxray-cli
                GOXRAY_CLI_VERSION=$(git describe --tags --abbrev=0 | grep -o -E '[0-9]+\.[0-9]+\.[0-9]+')
                echo "GOXRAY_CLI_VERSION=${GOXRAY_CLI_VERSION}" >> ${GITHUB_ENV}
                echo -e "\`\`\`\nGOXRAY_CLI_VERSION=${GOXRAY_CLI_VERSION}" >> ${GITHUB_STEP_SUMMARY}
            - name: Version comparison
              id: version_compare
              run: |
                if $(dpkg --compare-versions "${GOXRAY_CLI_VERSION}" "gt" "${GOXRAY_CLI_VERSION_REPO}")
                then
                    echo -e "\n - **GoXRay-CLI**: found a release version \`${GOXRAY_CLI_VERSION}\` > \`${GOXRAY_CLI_VERSION_REPO}\`, running build" >> ${GITHUB_STEP_SUMMARY}
                    echo "goxray_cli=true" >> "$GITHUB_OUTPUT"
                else
                    echo -e "\n - **GoXRay-CLI**: cannot found a release version, release sources for \`${GOXRAY_CLI_VERSION}\` will not be built" >> ${GITHUB_STEP_SUMMARY}
                    echo "goxray_cli=false" >> "$GITHUB_OUTPUT"
                fi
    build_goxray_cli:
        if: ${{ needs.version_analyzer.outputs.build_goxray_cli == 'true' }}
        runs-on: ubuntu-latest
        timeout-minutes: 15
        needs: version_analyzer
        env:
            build_goxray_cli: ${{ needs.version_analyzer.outputs.build_goxray_cli }}
        steps:
            - name: Install Debian helper software
              run: |
                sudo apt-get update
                sudo apt-get install -y debhelper curl gcc sed gawk dpkg-dev build-essential devscripts
                echo -e "\n## Building GoXRay-CLI\n\nInstalled Debian helper packages: \`debhelper curl gcc sed gawk dpkg-dev build-essential devscripts\`" >> ${GITHUB_STEP_SUMMARY}
            - name: Clone GoXRay-CLI
              uses: actions/checkout@v4
              with:
                submodules: 'true'
                fetch-depth: 0
                repository: 'goxray/tun'
                path: 'goxray-cli'
            - name: Parse required Go version
              run: |
                cd goxray-cli
                git checkout $(git describe --tags --abbrev=0)
                GO_VERSION=$(grep -Po '(?<=go )[0-9]+\.[0-9]+\..*$' go.mod)
                echo -e "GO_VERSION=${GO_VERSION}" >> ${GITHUB_ENV}
                echo -e "\nRequired Go version parsed from \`go.mod\`: \`${GO_VERSION}\`" >> ${GITHUB_STEP_SUMMARY}
                cd ..
            - name: Install Go compiler
              uses: actions/setup-go@v5
              with:
                go-version: ${{ env.GO_VERSION }}
            - name: Clone Debian maintainer scripts repository
              uses: actions/checkout@v4
              with:
                path: 'debian-scripts'
            - name: Clone mkchangelog
              uses: actions/checkout@v4
              with:
                submodules: 'true'
                fetch-depth: 0
                repository: 'twdragon/mkchangelog'
                path: 'mkchangelog'
            - name: Compile GoXRay-CLI
              run: |
                cd goxray-cli
                go mod vendor
                mkdir debian
                cp -r ../debian-scripts/goxray-cli/* ./debian/
                SHORT_GO_VERSION=$(echo -e "${{ env.GO_VERSION }}" | sed -e 's/\([0-9]\+\)\.\([0-9]\+\)\..*/\1.\2/')
                sed -i -e "s/golang-[0-9]\+\.[0-9]\+/golang-${SHORT_GO_VERSION}/" ./debian/control
                sed -i -e "s/\/go-[0-9]\+\.[0-9]\+/\/go-${SHORT_GO_VERSION}/" ./debian/rules
                sed -i -e "s/go\ [0-9]*\.[0-9]*\..*/go\ ${SHORT_GO_VERSION}/" ./go.mod
                chmod +x ./debian/rules
                LC_TIME=en_US.UTF-8 ../mkchangelog/mkchangelog debian/changelog ${{ env.UBUNTU_CODENAME }} goxray-cli "Stan B. and Contributors" godstanis@gmail.com "Stan B." low
                GOFLAGS="--mod=vendor" debuild -b -uc -us -d
                rm ./debian/changelog
                rm -rf ./vendor
                go mod vendor
                LC_TIME=en_US.UTF-8 ../mkchangelog/mkchangelog debian/changelog ${{ env.UBUNTU_CODENAME }} goxray-cli "Stan B. and Contributors" godstanis@gmail.com "Stan B." low
                GOFLAGS="-mod=vendor" debuild -S -uc -us -d
                mkdir packages
                mv -v ../goxray-cli*.* packages/
                echo -e "GoXRay-CLI compiled in:\n\`\`\`" >> ${GITHUB_STEP_SUMMARY}
                ls -lh packages/ >> ${GITHUB_STEP_SUMMARY}
                echo -e "\`\`\`\n"
                cd ..
            - name: Upload unsigned packages
              uses: actions/upload-artifact@v4
              with:
                name: goxray-cli-ubuntu-ppa
                path: goxray-cli/packages/goxray-cli*.*
            - name: Sign the source package
              run: |
                cd goxray-cli/packages
                echo -e "\nSigning GoXRay-CLI:\n\`\`\`\n $(find . -maxdepth 1 -name 'goxray-cli*_source.changes' -regextype egrep -exec cat {} \;) \n\`\`\`" >> ${GITHUB_STEP_SUMMARY}
                echo "${{ secrets.DEBSIGN_SECRET_KEY }}" | base64 -d > secret
                gpg --import secret
                rm -f secret
                debsign -k "${{ secrets.DEBSIGN_SECRET_FP }}" $(find . -maxdepth 1 -name 'goxray-cli*_source.changes' -regextype egrep)
                cd ../..
            - name: Upload the built package to PPA
              run: |
                cd goxray-cli/packages
                dput ppa:twdragon/xray $(find . -maxdepth 1 -name 'goxray-cli*_source.changes' -regextype egrep)
                cd ../..

